<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @dock_worker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @dock_worker.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dock_worker.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @dock_worker.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @dock_worker.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @dock_worker.zip %>
</p>

<p>
  <strong>Pay rate:</strong>
  <%= @dock_worker.pay_rate %>
</p>

<%= link_to 'Edit', edit_dock_worker_path(@dock_worker) %> |
<%= link_to 'Back', dock_workers_path %>
