<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :dock_id %>
    <%= f.collection_select :dock_id,Dock.all,:id,:dock_number %>
  </div>

  <div class="field">
    <%= f.label :dockworker_id %>
    <%= f.collection_select :dockworker_id,DockWorker.all,:id,:first_last %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
