<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @appointment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @appointment.end_date %>
</p>

<p>
  <strong>Dock:</strong>
  <%= @appointment.dock_id %>
</p>

<p>
  <strong>Dockworker:</strong>
  <%= @appointment.dockworker_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
